<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.title }}</title>
  <meta name="description"
        content="{{ site.description }}">
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="EEqfmu2QDO2NT-G6oFzhAk8YoBPbXva8H7SqKssfixM"/>
  <link rel="icon" href="favicon.png" type="image/png"/>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.desription }}" />
  <meta property="og:image" content="https://raw.githubusercontent.com/CodeForAfrica/CodeForAfrica.org/gh-pages/img/banner.jpg" />
  <meta property="og:url" content="https://codeforafrica.org/" />
  
  <script type="text/javascript">
    var host = "{{ site.enforce_ssl }}";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
  </script>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/custom.css">

</head>
