
<div class="container" style="padding-top: 20px; padding-bottom: 20px;">

  <div class="alert alert-info alert-dismissible text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p><strong>LAUNCH:</strong> 22 digital ‘watchdog’ projects win $1-million in funding &amp; technology support. <strong><a href="https://medium.com/code-for-africa/22-digital-watchdog-projects-win-1-million-in-funding-and-technology-support-5e0522f34323" target="_blank" rel="noreferrer noopener">Learn More</a></strong></p>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6">
      <img src="img/logos/c4a.png" alt="Code For Africa" class="img-responsive center-block"/>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Subscribe for Updates</h3>
        </div>
        <div class="panel-body">
          <p>The full <i>Code for Africa</i> website is still in development. Sign up to be
            kept informed about updates and other news.</p>

          <form class="form-inline validate"
                action="//codeforafrica.us6.list-manage.com/subscribe/post?u=65e5825507b3cec760f272e79&amp;id=c2ff751541"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"
                novalidate="">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Email Address" name="EMAIL" id="mce-EMAIL"
                     required/>
              <input type="hidden" value="4" name="group[11037][4]" id="mce-group[11037]-11037-2">
              <span class="input-group-btn">
                <button class="btn btn-inverse" type="submit" value="Subscribe" name="subscribe"
                        id="mc-embedded-subscribe">
                  Submit
                </button>
              </span>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- /.container -->
