
<div style="background-color: #eee; padding: 50px 0;">
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <h1>African Commons</h1>
      </div>
      <div class="col-sm-4">
        <p>It is important to tie together all the ingenuity, knowledge, and resources being created by the <i>Code for
          Africa</i> community and their counterparts in the <a href="http://codeforamerica.org/" target="_blank">Americas</a>
          and <a href="http://codeforeurope.net/" target="_blank">Europe</a> and <a
              href="http://www.opendatalatinoamerica.org/home/" target="_blank">Latin America</a>. We are therefore
          supporting a global effort to strengthen the <a href="http://commons.codeforamerica.org/" target="_blank">CivicCommons</a>
          platform, by helping evolve the project beyond its current life as a simple catalogue into a dynamic community
          portal.</p>

      </div>
      <div class="col-sm-4">
        <p>In addition to working on CivicCommons, <i>Code for Africa</i> is building other shared resources, including
          the continent's largest repository of open data, <a href="http://openafrica.net"
                                                              target="_blank">openAFRICA</a> plus a repository of
          'liberated' documents at <a href="https://sourceafrica.net/public/search/" target="_blank">sourceAFRICA</a>,
          and of civic code at <a href="https://github.com/CodeForAfrica" target="_blank">codeAFRICA</a>.</p>
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>