<div style="margin: 50px auto;">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1>Africa Is Not A Country</h1>
      </div>
      <div class="col-sm-8 code4all">

        <p>The continent is made up of one billion people living in 54 nations with wide variation in economic and
          government systems, with further differentiation by language, religion, and shared history. <em>Code for
            Africa</em>
          is therefore a 'federated' umbrella for a series of national and/or thematic initiatives, including:</p>

        <div class="row text-center">
          <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="http://www.codeforghana.org/" target="_blank"><img src="img/logos/code4all/ghana.png" alt="Ghana"
                                                                        class="img-responsive"/></a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="http://code4kenya.org" target="_blank"><img src="img/logos/code4all/kenya.png" alt="Kenya"
                                                                 class="img-responsive"/></a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="http://www.code4nigeria.org/" target="_blank"><img src="img/logos/code4all/nigeria.png"
                                                                        alt="Nigeria" class="img-responsive"/></a>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="http://code4sa.org" target="_blank"><img src="img/logos/code4all/southafrica.png"
                                                              alt="South Africa" class="img-responsive"/></a>
          </div>
        </div>
        <br/>

        <p class="text-left">Additional initiatives are being incubated, for launch in 2015/16, in Morocco, Rwanda,
          Senegal, Tanzania, Tunisia, and Uganda.</p>
      </div>
    </div>


  </div>
  <!-- /.container -->
</div>