<div style="margin: 50px auto;">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1>Africa Is Not A Country</h1>
      </div>
      <div class="col-sm-8 code4all">

        <p>The continent is made up of one billion people living in 54 nations with wide variation in economic and
          government systems, with further differentiation by language, religion, and shared history. <em>Code for
            Africa</em> operates as a federation of autonomous country-based digital innovation organisations that support ‘citizen labs’ in nine countries and major projects in a further 15 countries, including:</p>

        <div class="row text-center">
          <div class="col-xs-6 col-sm-3 col-md-3">
            <a href="https://codefortanzania.org/" target="_blank" rel="noopener"><img src="img/logos/code4all/tanzania.png" alt="Code for Tanzania " class="img-responsive"/></a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <a href="https://codeforkenya.org" target="_blank" rel="noopener"><img src="img/logos/code4all/kenya.png" alt="Code for Kenya"  class="img-responsive"/></a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <a href="https://codefornigeria.org/" target="_blank" rel="noopener"><img src="img/logos/code4all/nigeria.png" alt="Code for Nigeria" class="img-responsive"/></a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <a href="https://code4sa.org" target="_blank" rel="noopener"><img src="img/logos/code4all/southafrica.png" alt="Code for South Africa" class="img-responsive"/></a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <a href="https://codeformorocco.org" target="_blank" rel="noopener"><img src="img/logos/code4all/morocco.png" alt="Code for Morocco" class="img-responsive"/></a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <a href="https://codeforsierraleone.org/" target="_blank" rel="noopener"><img src="img/logos/code4all/sierraleone.png" alt="Code for Sierra Leone" class="img-responsive"/></a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <a href="http://www.codeforghana.org/" target="_blank" rel="noopener"><img src="img/logos/code4all/ghana.png" alt="Code for Ghana" class="img-responsive"/></a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-3">
            <a href="https://codeforcameroon.org" target="_blank" rel="noopener"><img src="img/logos/code4all/cameroon.png" alt="Code for Cameroon" class="img-responsive"/></a>
          </div>
        </div>
        <br/>

        <p class="text-left">There are Code for Africa affiliate labs in Cameroon, Ethiopia, Ghana, Kenya, Nigeria, Sierra Leone, South Africa, Tanzania, and Uganda. </p>
        
      </div>
    </div>


  </div>
  <!-- /.container -->
</div>