
<div style="background-color: #eee; padding: 70px 0;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>Open Data &amp; Open Government Are Revolutionary</h1>

        <br/>

        <p>They promise to change the power dynamics that govern our societies, giving ordinary citizens more and deeper
          information in real time, along with digital tools for engaging with fellow citizens and with those in
          positions of power.</p>

        <p>So, why are so few citizens using either the data or the tools -- despite generous funding and massive
          institutional support?</p>

        <p>The problem, <i>Code for Africa</i> believes, is an issue of supply versus demand. Much of the focus by the
          civic technology movement to date has been on governments and activists pushing data and services at citizens,
          rather than listening to what citizens really want or need. This tension is reflected in how we define the
          movement:
        </p>

        <br/>

        <blockquote>
          <p><b>civ·ic</b> <span class="muted">/ˈsivik/</span> Adjective</p>

          <p>1. Of or relating to a city or town, esp. its administration; municipal.</p>

          <p>2. Of or relating to the duties or activities of people in relation to their town, city, or local area.</p>
        </blockquote>

        <br/>

        <p>Most open data and civic technology initiatives focus on the <span
            style="text-decoration: underline;">first</span> definition. They are government or activist / lobbyist led
          initiatives designed to strengthen government, to improve the quality of services provided to citizens.</p>

        <p><i>Code for Africa</i> seeks a different path. It embraces the <span style="text-decoration: underline;">second</span>
          definition, framing itself as a people-driven movement that aims to empower active citizenry and strengthen
          civic watchdogs to help government shape and improve its
          services to citizens.</p>

        <p>This approach is reflected in how <em>Code for Africa</em> is designed: the initiative is driven and
          co-funded by grassroots citizen organizations and the mass media and is focused primarily on building civic
          technology capacity within civil society and the watchdog media. Here is a quick overview of <em>Code for
            Africa</em>'s current activities and priorities:</p>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
