<a name="presentation"></a>
<div class="clearfix" style="background: #e6001c; padding: 70px 0;">
  <div class="container text-center">
    <iframe
        src="https://docs.google.com/presentation/d/1oIB3LSTRQGnGHHcvyhsYVW307tEAoYaV98t-VoGOKMA/embed?start=false&loop=false&delayms=3000"
        class="" width="512" height="421" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
        style="border:1px solid #CCC;border-width:1px 1px 0; max-width: 98%; margin-bottom:0;" allowfullscreen
        mozallowfullscreen="true"></iframe>
    <p class="visible-phone"></p>
  </div>
  <!-- /.container -->
</div>