<a name="partners"></a>
<div style="margin: 50px auto;">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h1>Partnerships</h1>

        <p>Achieving Open Data and Open Government on a continental level is a mammoth task. <em>Code for Africa</em> is therefore deliberately designed as a vehicle for partnerships, to allow for shared knowledge and collaborative solutions, driven by thematic champions and diverse approaches. <em>Code for Africa</em>'s founding partners are:</p>
      </div> <!-- /.col-md-4 -->

      <div class="col-md-8">
        <br/>

        <p class="partner-logos">
          <a href="http://www.gatesfoundation.org/" target="_blank">
            <img src="img/logos/bmgf.png" alt="Bill and Melinda Gates Foundation" style="height: 90px;"/>
          </a>
          <a href="http://www.omidyar.com/" target="_blank">
            <img src="img/logos/omidyar.jpg" alt="Omidyar Network" style="height: 90px;" />
          </a>

          <br/>
          <a href="http://wbi.worldbank.org" target="_blank">
            <img src="img/logos/wb.jpg" alt="World Bank" style="height: 90px;" />
          </a>
          <a href="http://icjf.org" target="_blank">
            <img src="img/logos/icfj_2_1.png" alt="ICFJ" style="height: 90px;"/>
          </a>

          <br/>
          <a href="http://hivos.org" target="_blank">
            <img src="img/logos/hivos.png" alt="Hivos" style="height: 100px;"/>
          </a>
          <a href="http://okfn.org" target="_blank">
            <img src="img/logos/ok.png" alt="Open Knowledge Foundation" style="height: 100px;"/>
          </a>
          <a href="http://praekeltfoundation.org" target="_blank">
            <img src="img/logos/praekelt.png" alt="Praekelt Foundation" style="height: 70px;"/>
          </a>
          <a href="http://www.webfoundation.org/" target="_blank">
            <img src="img/logos/wwwf.gif" alt="World Wide Web Foundation" style="height: 90px;"/>
          </a>

          <br/>
          <a href="http://africannewschallenge.org" target="_blank">
            <img src="img/logos/anic.png" alt="African News Innovation Challenge"/>
          </a>
          <a href="https://www.facebook.com/HacksHackersAfrica" target="_blank">
            <img src="img/logos/hha.gif" alt="HHA" style="height: 90px;"/>
          </a>
          <a href="http://investigativecenters.org" target="_blank">
            <img src="img/logos/ancir.png" alt="ANCIR" style="height: 90px;"/>
          </a>
        </p> <!-- /.partner-logos -->
      </div> <!-- /.col-md-8 -->
    </div> <!-- /.row -->

  </div> <!-- /.container -->

</div>