<div style="background-color: #eee; padding: 70px 0;">
  <div class="container">
    <div class="row">
      <br/><br/>

      <div class="col-sm-4">
        <div class="row text-center">
          <div class="col-md-3 col-sm-4 col-xs-3">
            <i class="fa fa-magic fa-4x"></i>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-3">
            <i class="fa fa-lightbulb-o fa-4x"></i>
          </div>
          <div class="clearfix hidden-xs"></div>
          <br class="hidden-xs"/>

          <div class="col-md-3 col-sm-4 col-xs-3">
            <i class="fa fa-group fa-4x"></i>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-3">
            <i class="fa fa-wrench fa-4x"></i>
          </div>
        </div>
        <br/>

        <h1 style="font-weight: 300;">Some of <em>Code for Africa</em>'s flagship programs include:</h1>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-md-6">
            <h2>Data Liberation</h2>

            <p>Unlike North America or Europe, there is little open data freely available in Africa. And, where it is
              available, government data is often incomplete or skewed.</p>

            <p>A priority for <em>Code for Africa</em> is therefore to digitize and liberate data, turning 'deadwood'
              paper archives into a digital resource, or building APIs to access existing data. This includes going
              beyond government data, by hosting DataLiberation Scraperthons
              or supporting scraping projects such as <a href="https://sourceafrica.net/" target="_blank">sourceAFRICA</a>,
              to unlock the knowledge held in academia, the media, civil society, and citizen groups.</p>
          </div>
          <div class="col-md-6">

            <h2>Data Skills</h2>

            <p>Data is meaningless if no-one knows how to use it. <em>Code for Africa</em> therefore brings together
              pioneers who are already supporting data training, ranging from large institutional partners such as the
              <a
                  href="http://wbi.worldbank.org" target="_blank">World Bank</a>, to industry associations such as the
              <a
                  href="http://icfj.org" target="_blank">International Center for Journalists</a>, trend-setting
              corporates such as <a href="http://google-africa.blogspot.com/" target="_blank">Google</a>, and grassroots
              user-groups such as <a href="https://www.facebook.com/HacksHackersAfrica"
                                     target="_blank">Hacks/Hackers</a> to
              synchronize and amplify their programs.</p>

            <p>The partnerships includes evening seminars, more intensive policy
              roundtables, weeklong skills bootcamps, advanced masterclasses, and Code4Democracy hackathons.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h2>Data Fellowships</h2>

            <p>Even once people have skills and data, it is still difficult to get organizations to change the way they
              operate. <em>Code for Africa</em> therefore embeds change agents, as Data Fellows,
              in thought-leader media and civil society organizations.</p>

            <p>These Data Fellows serve as catalysts and enablers
              who help create the internal systems and resources necessary to entrench data as 'mission critical'. The
              fellowships are supported by external civic technology labs, and run for between six and 12 months. Each
              fellow builds proof-of-concept services / apps, and helps to develop internal policy, data platforms, and
              recruitment / staff strategies.</p>
          </div>
          <div class="col-md-6">
            <h2>Data Tools</h2>

            <p>The best way to convince people about the power and relevance of data, is to point them to some showcase
              tools or services that demonstrate pragmatic potential. <em>Code for Africa</em> therefore supports the
              development of citizen-driven solutions, such as the <a href="http://gottovote.cc" target="_blank">GotToVote</a>
              toolkit that has already been used in Kenya, Malawi &amp; Zimbabwe, or the
              <a href="http://africannewschallenge.org/2012-winners/" target="_blank">actNOW and askAFRICA</a> projects
              in Ghana and South Africa. But, there is a real danger that scarce resources are wasted reinventing the
              wheel.</p>

            <p><em>Code for Africa</em> therefore champions re-use and replication wherever appropriate, by supporting
              the work of pioneers such as <a href="http://www.mysociety.org/" target="_blank">mySociety</a> and <a
                  href="http://okfn.org" target="_blank">Open Knowledge Foundation</a> and others.</p>
          </div>
        </div>
        <!-- /.row -->
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>
