<a name="projects"></a>
<div style="margin: 50px auto;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Projects</h1>

        <p>Rhetoric is easy. It is what you actually do that counts. Some of the early prototypes that <i>Code for
          Africa</i> has helped grassroots partners build or deploy include:</p>
        <br/>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6">
            <div class="thumbnail">
              <a href="http://starhealth.code4kenya.org" target="_blank">
                <img alt="" src="img/projects/starhealth.png">
              </a>

              <div class="caption">
                <h3>StarHealth</h3>

                <p>Keeping the health sector accountable to citizens.</p>

                <p><a href="http://health.the-star.co.ke" target="_blank" class="btn btn-primary">Go To Site</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="thumbnail">
              <a href="http://gottovote.cc" target="_blank">
                <img alt="" src="img/projects/gtv.png">
              </a>

              <div class="caption">
                <h3>GotToVote</h3>

                <p>Getting citizens to the ballot box informed and ready.</p>

                <p><a href="http://gottovote.cc" target="_blank" class="btn btn-primary">Go To Site</a></p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-6">
            <div class="thumbnail">
              <a href="http://granoproject.org/" target="_blank">
                <img alt="" src="img/projects/grano.png">
              </a>

              <div class="caption">
                <h3>Grano</h3>

                <p>Connect the dots between people, institutions and companies.</p>

                <p><a href="http://granoproject.org/" target="_blank" class="btn btn-primary">Go To Site</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="thumbnail">
              <a href="http://wmmd.codeforafrica.org" target="_blank">
                <img alt="" src="img/projects/wmmd.png">
              </a>

              <div class="caption">
                <h3>Where My Money Dey</h3>

                <p>Helping villagers to keep conglomerate companies honest.</p>

                <p><a href="http://wmmd.codeforafrica.org" target="_blank" class="btn btn-primary">Go To Site</a></p>
              </div>
            </div>
          </div>
          <!-- /.col-sm-6 -->
          <div class="clearfix"></div>
          <div class="col-sm-6">
            <div class="thumbnail">
              <a href="http://openafrica.net" target="_blank">
                <img alt="" src="img/projects/openafrica.png">
              </a>

              <div class="caption">
                <h3>openAFRICA</h3>

                <p>The continent's largest volunteer-run open data repository.</p>

                <p><a href="http://openafrica.net" target="_blank" class="btn btn-primary">Go To Site</a></p>
              </div>
            </div>
          </div>
          <!-- /.col-sm-6 -->
          <div class="col-sm-6">
            <div class="thumbnail">
              <a href="https://sourceafrica.net/" target="_blank">
                <img alt="" src="img/projects/sourceafrica.png">
              </a>

              <div class="caption">
                <h3>sourceAFRICA</h3>

                <p>Africa's premier repository for "actionable documents".</p>

                <p><a href="https://sourceafrica.net/" target="_blank" class="btn btn-primary">Go To Site</a></p>
              </div>
            </div>
          </div>
          <!-- /.col-sm-6 -->
          <div class="clearfix"></div>
          <div class="col-sm-6">
            <div class="thumbnail">
              <a href="http://sa.connectedafrica.org/" target="_blank">
                <img alt="" src="img/projects/connectedafrica.png">
              </a>

              <div class="caption">
                <h3>connectedAFRICA</h3>

                <p>Shining a light on connections that exist between the private and public spheres.</p>

                <p><a href="http://sa.connectedafrica.org/" target="_blank" class="btn btn-primary">Go To Site</a></p>
              </div>
            </div>
          </div>
          <!-- /.col-sm-6 -->
          <div class="col-sm-6">
            <div class="thumbnail">
              <a href="http://fatalextraction.investigativecenters.org/" target="_blank">
                <img alt="" src="img/projects/fatalextraction.png">
              </a>

              <div class="caption">
                <h3>#FatalExtraction</h3>

                <p>The human cost of Australia's mining empire in Africa.</p>

                <p><a href="http://fatalextraction.investigativecenters.org/" target="_blank" class="btn btn-primary">Go To Site</a></p>
              </div>
            </div>
          </div>
          <!-- /.col-sm-6 -->
        </div> <!-- /.row -->

        <hr/>

        <div class="well text-center">
          <h2><i class="fa fa-btn fa-2x fa-github"></i></h2>
          <h2>Get your hands dirty</h2>
          <p>Recent GitHub issues you can help us out with;<p>
          <p>
          <a href="http://civicissues.codeforamerica.org/geeks/civicissues/widget?organization_name=Code-for-Africa&labels=help%20wanted&number=12" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">Civic Issues</a>
          .
          <a href="https://github.com/CodeForAfrica/" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-default">Github</a>
          </p>
        </div>

      </div> <!-- /.col-md-8 -->
    </div>
    <!-- /.row -->
    
    <!-- <hr/> -->
    
    <!-- <div class="row">
      <div class="col-md-4">
        <h2>Get your hands dirty</h2>
        <p>Here are some recent GitHub issues you can help us out with.<p>
      </div> --> <!-- /.col-md-4 -->
      <!-- <div class="col-md-8">
        <iframe src="http://civicissues.codeforamerica.org/geeks/civicissues/widget?organization_name=Code-for-Africa&labels=help%20wanted&number=12" width="100%" height="600" frameBorder="0"></iframe> -->
      <!-- </div> /.col-md-8 -->
    <!-- </div> /.row -->


    
  </div>
  <!-- /.container -->
</div>
