<a name="team"></a>
<div style="background-color: #eee; padding: 50px 0;">
  <div class="container citizenlab">

    <div class="row">
      <div class="col-sm-4">
        <h1>CitizenLab</h1>

        <p>Technology should be accessible. <em>Code for Africa</em> therefore bases its teams in public tech hubs or incubators, as CitizenLabs, where citizens or journalists can walk in for help or to share space to build their own projects.</p>

        <p><em>Code for Africa</em>'s core team works from the Kenyan CitizenLab, at <a href="http://www.nairobigarage.com" target="_blank">Nairobi Garage</a>. Pop in to chat or code with us.</p>
      </div>
      <div class="col-sm-8">
        <br/><br/>

        <div class="row text-center">
          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/justin.png" alt="" class="img-circle"/></p>
            <p class="lead">Justin Arenstein</p>
            <p><b>Director</b></p>
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/chris.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Chris Roper</p>
            <p><b>Deputy Director</b></p>
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/david.jpg" alt="" class="img-circle"/></p>
            <p class="lead">David Lemayian</p>
            <p><b>Lead Technologist</b></p>
          </div>
          
          <div class="clearfix hidden-xs hidden-sm"></div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/jacopo.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Jacopo Ottaviani</p>
            <p><b>Pan-African Data Editor</b></p>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/rachel.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Rachel Strate</p>
            <p><b>Chief Operating Officer</b></p>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/cavan.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Cavan Davids</p>
            <p><b>Chief Financial Officer</b></p>
          </div>
          
          <div class="clearfix hidden-xs hidden-sm"></div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/lillian.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Lillian Nduati</p>
            <p><b>Knowledge &amp; Engagement Lead</b></p>
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/amanda.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Amanda Strydom</p>
            <p><b>ANCIR Managing Editor</b></p>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/ashlin.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Ashlin Simpson</p>
            <p><b><a href="http://innovateafrica.fund" target="_blank" rel="noopener noreferrer">innovateAFRICA</a> &amp; <a href="http://impactafrica.fund" target="_blank" rel="noopener noreferrer">impactAFRICA</a> Manager</b></p>
          </div>

          <div class="clearfix hidden-xs hidden-sm"></div>

          <div class="col-xs-6 col-sm-6 col-md-4 col-md-offset-2">
            <p><img src="img/team/kwasi.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Kwasi Gachie</p>
            <p><b>Programme Assistant</b></p>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/siphokazi.jpeg" alt="" class="img-circle"/></p>
            <p class="lead">Siphokazi Maneli</p>
            <p><b>Programme Officer</b></p>
          </div>
          
        </div>
      </div>
      <!-- /.col-sm-9 -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-sm-8 col-sm-offset-4 text-center">
        <div class="row">
          <div class="col-xs-12">
            <hr/>
            <h2>Fellows</h2>
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/catherine.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Catherine Gicheru</p>
            <p><b>Code for Kenya Lead</b></p>
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/omar.jpeg" alt="" class="img-circle"/></p>
            <p class="lead">Omar Mohammed</p>
            <p><b><a href="https://codefortanzania.org/" target="_blank" rel="noopener noreferrer">Code for Tanzania</a> Lead</b></p>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/nkechi.png" alt="Nkechi Okwuone" class="img-circle"/></p>
            <p class="lead">Nkechi Okwuone</p>
            <p><b>Code for Nigeria Lead</b></p>
          </div>
          
          <div class="clearfix hidden-xs hidden-sm"></div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/adi.jpg" alt="Adi Eyal" class="img-circle"/></p>
            <p class="lead">Adi Eyal</p>
            <p><b>Code for South Africa / OpenUp Lead</b></p>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/zulu.jpeg" alt="Richard Zulu" class="img-circle"/></p>
            <p class="lead">Richard Zulu</p>
            <p><b>Code for Uganda Lead</b></p>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/fellows/johnny.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Johnny Miller</p>
            <p><b>impactAFRICA Fellow</b></p>
          </div>
          
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-sm-8 col-sm-offset-4 text-center">
        <div class="row">
          <div class="col-xs-12">
            <hr/>
            <h2>Alumni</h2>
            <p>We are more than fortunate to have worked with these amazing people.</p>
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/friedrich.png" alt="" class="img-circle img-responsive center-block"/></p>
            <p class="lead">Friedrich Lindenberg</p>
            <p><b>News Technologist</b></p>
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/serah2.jpeg" alt="" class="img-circle"/></p>
            <p class="lead">Serah Rono</p>
            <p><b>Software Engineer + Advocate</b></p>
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/stephen.jpeg" alt="" class="img-circle"/></p>
            <p class="lead">Stephen Abbott Pugh</p>
            <p><b>Engagement Strategist</b></p>
          </div>

           <div class="clearfix hidden-xs hidden-sm"></div>
          
          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/eve.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Evelyn Muthoni</p>
            <p><b>Software Engineer</b></p>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/haji.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Haji Mohamed Dawjee</p>
            <p><b><a href="http://impactafrica.fund" target="_blank">impactAFRICA</a> lead</b></p>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-4">
            <p><img src="img/team/esther.jpg" alt="" class="img-circle"/></p>
            <p class="lead">Esther Mwaura</p>
            <p><b>Programme Officer</b></p>
          </div>
          
        </div> <!-- /.row-->
      </div>
    </div> <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
